body{
    box-sizing: border-box;
    margin: 0;
    padding:0 1rem;
    background:rebeccapurple;
    margin-left: auto;
    margin-right: auto;
}
li{
    list-style-type: none;
}

h1,
h2,
h3,
h4{
    font-size:2.6rem;
    color:rgba(223, 209, 12, 0.955);
    text-align:center;
    margin:2rem auto;
    text-transform: capitalize;
}

form{
    display:block;
    padding:1.5rem 1rem;
    max-width: 70%;
    margin:0.5rem auto;
    box-shadow: 2px 2px 15px 5px rgba(0, 0, 0, 0.525);
    backdrop-filter: 20px;
    border-radius:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
label{
    color:rgba(255, 255, 255, 0.716);
    text-transform: capitalize;
    font-size:1.5rem;
}


input{
   background: rgba(255, 255, 255, 0.4); 
   padding:0.5rem;
   border:0;
   border-radius: 5px;
   display:block;
   margin:1rem auto;
   width:100%;
}

.btn{
border:0;
width:50%;
display: block;
margin:0 auto;
cursor:pointer;
padding:0.5rem 1rem;
background:rgba(20, 236, 92, 0.582);
outline: 0;
text-transform: capitalize;
border-radius:10px;
transform:scale(1);
}


.btn:hover{
    transform:scale(1.1);
}

.wrapper{
    max-width:90%;
    margin:2rem auto;
    padding:1rem;
    background: rgba(255, 255, 255, 0.158);
    transition: all 0.4s ease-in;

}

li{
   padding:0.5rem 1rem; 
 background:rgba(11, 95, 221, 0.37);
 outline: 0;
 display: flex;
 justify-content: space-between;
 align-items: center;
 flex-wrap: wrap;
 margin-bottom: 0.75rem;
 
 transition: all 1s ease;
 
}
li > p{
    color:#fff;
    text-transform: capitalize;
    font-size: 1.25rem;
    text-align: center;
    transition: all 1s ease;
}






.overlay{
    position: absolute;
    inset:0;
    background:rgba(0, 0, 0);
    width: 100%;
    height:100%;
    transform:scale(0);
    z-index:99;
    display: flex;
    justify-content: center;
    align-content: center;
}

.active{
    transform:scale(1)
}

 .active .popup{
    position:absolute;
    inset:0;
    width:60%;
    transform:scale(1);
    z-index:999;

}

button{
    background: transparent;
    font-size:18px;
    border:0;
    outline:0;
    color:#fff;
    border-radius: 50%;
    cursor:pointer;
}